
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Playpen+Sans:wght@300&family=Rubik+Iso&display=swap');

.to {
    text-shadow: 5px 8px 10px ;
    font-size: 3em;
    text-align: right;
    font-family: Noto Sans Japanese, Playpen Sans;
    font-weight: 900;
    font-style: oblique;
    color: rgba(130, 100, 80, 1);
    background-image: url("https://cdn.pixabay.com/photo/2023/10/20/10/41/man-8329151_640.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
    background-size: contain;
}

.fruit {
    list-style-type: lower-alpha;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding-left: 20px;
    margin: 130px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px red;
    
}

.boxes {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}